body { background-color: gray;
text-align:center;
}

div { margin:20px;}
#welcome {
padding-top:150px;
padding-bottom: 150px;
background-color: silver;
}
#b {margin-top: 100px;}
#options { padding-top:100px;
  padding-bottom: 100px;
  background-color: white;}
