body { background-color: gray;
text-align:center;
}

div { margin:20px;}
#welcome { margin-top: 100px;
margin-bottom: 100px;
padding-top:60;
padding-bottom: 60;
background-color: silver;
}
#b {margin-top: 150px;}
